* {
    box-sizing: border-box;
}
main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#link {
    text-decoration: none;
    color: black;
    display: flex;
    width: 95vw;
}
.car_div {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    gap: 1rem; 
    height: 30%;
    width: 95vw;
    padding: 0.3rem;
}