@keyframes fadeIn {
    from {
        top: 6vh;
    } to {
        top: 15.8vh;
    }
}
@keyframes fadeOut {
    from {
        top: 15.8vh;
    } to {
        top: 0;
    }
}
@keyframes searchIn {
    from {
        height: 0;
    } to {
        height: 60vh;
    }
}
@keyframes searchOut {
    from {
        height: 60vh;
    } to {
        height: 0;
    }
}
@keyframes popupIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes menuIn {
    from {
        right: -20vw;
    } to {
        right: 0;
    }
}
@keyframes menuOut {
    from {
        right: 0;   
    } to {
        right: -20vw;
    }
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
button a {
    text-decoration: none;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 7, 7);
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.6rem;
    min-width: 9rem;
}
/*---------------------HEADER----------------------*/
h2 {
    text-align: center;
    color: rgb(203, 7, 7);
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
    width: 100vw;
    height: 9vh;
    /*background-color: rgb(31, 28, 32); #231F20*/
    background-image: linear-gradient(to right, #020202, #231F20);
    overflow: hidden;
    z-index: 2;
}
.barcont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-image: url("../images/bck.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 66vw;
    min-height: 6.6vh;
    background-color: #f3f3f3;
    border-bottom: 0.0625rem solid rgb(31, 28, 32);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.6rem;
    z-index: 2;
}
.bar a {
    text-decoration: none;
    color: black;
    min-width: 20%;
    text-align: center;
}
.logo {
    width: 4.5rem;
}
#find {
    cursor: pointer;
}
.manage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 12vw;
    min-height: 9vh;
    padding: 0.1rem;
    background-color: #f3f3f3;
    border: 0.0625rem solid #f3f3f3;
    position: absolute;
    right: 18vw;
    z-index: 1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.manage a {
    text-decoration: none;
    color: black;
    margin: 0.9rem;
}
.manIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-fill-mode: forwards;
}
.manOut {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-fill-mode: forwards;
}
/*----------------------SEARCH FORM----------------------*/
.searchForm {
    border: 0.12rem solid #D7D7D7;
    background-color: #f3f3f3;
    width: 66vw;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.show {
    animation-name: searchIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.hide {
    animation-name: searchOut;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.searchForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.searchForm form button {
    justify-self: center;
    background-color: rgb(203, 7, 7);
    color: white;
    padding: 0.6rem;
    border: none;
    min-width: 9rem;
}
/*-------------------------MAIN-------------------------*/
main {
    width: 100vw;
    min-height: 72vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("../images/bck.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-around;
    width: 66vw;
    min-height: 100%;
    border: 3rem;
    overflow: hidden;
}
#link {
    text-decoration: none;
    color: black;
    display: flex;
    width: 66vw;
}
.img_div {
    border-radius: 2rem;
    overflow: hidden;
}
.car_div {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem; 
    height: 30%;
    width: 66vw;
    padding: 0.3rem;
}
.txt_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*--------------------USER PROFILE----------------*/
.usr_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.6rem;
} /*
.usr_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.usr_data h4, p {
    margin: 1rem;
} */
.edit_usr {
    min-height: 20vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.editBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.editBtn p {
    margin: 1rem;
}
.editBtn:hover {
    cursor: pointer;
}
.clsBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.clsBtn:hover {
    cursor: pointer;
}
.edit_form {
   display: none;
   flex-direction: column;
   align-items: center; 
   justify-content: space-evenly;
}
.edit_form i {
    margin-bottom: 1rem;
}
.edit_form i:hover {
    cursor: pointer;
}
.card_view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    margin: 0.9rem;
    border: 0.1325rem solid #D7D7D7;
    background-color: white;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
}
.user_popup {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 33vw;
    min-height: 24vh;
    border-radius: 2rem;
    position: fixed;
    top: 18vh;
    left: 33.5vw;
    z-index: 10;
    padding: 1rem;
    background-color: #f3f3f3;
    animation-name: popupIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-fill-mode: forwards;
}
/*------------- EDIT CAR Profile -------------------------*/
.carprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
}
.car_title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.car_title i:first-of-type {
    color: rgb(203, 7, 7);
    cursor: pointer;
}
.car_title i:last-of-type {
    color: black;
    cursor: pointer;
}
.car_title i:last-of-type:hover {
    color: rgb(203, 7, 7);
}
.manage_car {
    display: flex;
    justify-content: space-evenly;
    height: 0.9rem;
    width: 20%;
}
.title_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.edit_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.car_aside {
    position: fixed;
    right: -20vw;
    top: 0;
    z-index: 28;
    background-color: rgb(31, 28, 32);
    width: 18vw;
    height: 99vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car_menu {
    background-color: rgb(31, 28, 32);
    color: white;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.car_menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.car_menu a:hover, .car_menu i:hover {
    color: rgb(203, 7, 7);
}
.edit_menu_in {
    animation-name: menuIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-fill-mode: forwards;
}
.edit_menu_out {
    animation-name: menuOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-fill-mode: forwards;
}
.edit_car_form {
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 35;
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 28, 32);
    padding: 0.6rem;
}
.edit_car_form i {
    margin-bottom: 1.3rem;
    color: white;
}
.edit_car_form i:hover {
    cursor: pointer;   
    color: rgb(203, 7, 7);
}
#edt_form div:first-of-type {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem;
}
#edt_form div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}
#edt_form .last {
    display: flex;
    justify-content: center;
    align-items: center; /*
    border: 0.0625rem solid white;
    border-radius: 1rem; */
}
#edt_form .last input {
    background-color: rgb(203, 7, 7);
    color: white;
    min-width: 18rem;
}
.edit_car_form form label {
    color: white;
}
.res_form {
    position: absolute;
    right: 1vw;
    top: 21vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.popup {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 33vw;
    min-height: 24vh;
    border-radius: 2rem;
    position: fixed;
    top: 18vh;
    left: 33.5vw;
    z-index: 10;
    padding: 1rem;
    background-color: #f3f3f3;
    animation-name: popupIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-fill-mode: forwards;
}
.drop_img_popup {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 33vw;
    min-height: 24vh;
    border-radius: 2rem;
    position: fixed;
    top: 18vh;
    left: 33.5vw;
    z-index: 10;
    background-color: #f3f3f3;
    padding: 1rem;
    animation-name: popupIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-fill-mode: forwards;
}
/*-----------REMOVE CAR IMAGES-------------*/
.car_img_view {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
}
.one_img {
    padding: 0.9rem;
    border: 0.0625rem solid black;
    margin: 0.3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one_img:hover {
    width: 13,5rem;
}
.one_img img {
    border: 0.0625rem solid #020202;
    border-radius: 1rem;
}
.clickedImg {
    background-color: rgb(45, 174, 255);
}
.unclickedImg {
    background-color: none;
}
/*-----------Background DIV - galery Divs------------------*/
.bckDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #020202;
    opacity: 0.85;
    z-index: 3;
}
.visible {
    display: block;
}
#xmark {
    color: white;
    position: fixed;
    right: 3rem;
    top: 3rem;
}
#left {
    color: white;
    position: fixed;
    left: 10%;
    top: 50%;
}
#right {
    color: white;
    position: fixed;
    right: 10%;
    top: 50%;
}
#smallRight, #smallLeft {
    height: 3rem;
    width: 3rem;
    color: lightgray;
}
#dropImg {
    color: white;
    position: fixed;
    right: 50%;
    top: 10%;
    z-index: 25;
}
#xmark:hover, #left:hover, #right:hover, #dropImg:hover {
    cursor: pointer;
}
.galery {
    width: 85%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #231F20;
}
.galery_in {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgDivLeft, #imgDivRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-width: 10%;
}
.zoom {
    position: fixed;
    top: 15vh;
    left: 20vw;
    height: 60vh;
    width: 60vw;
    z-index: 4;
}
#carImg {
    width: 100%;
    
    max-height: 78vh;
    /*max-height: 100%; height: 18rem;*/
    display: none;
}
.galery:hover {
    cursor: pointer;
}
#magnify {
    color: lightgray;
    position: relative;
    left: 50%;
    top: 25vh;
}
/*----------------- CAR PROPERTIES and DESCRIPTION-----------------*/
.properties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 86%;
    background-image: linear-gradient(to right,#F8F8F8, #f3f3f3,  #d7d7d7);
    /* background-color: #f3f3f3; */
    padding: 0.6rem;
    border-radius: 2rem;
    margin-top: 1rem;
    overflow: hidden;
}
.properties h4 {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0.4rem;
}
.properties p {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0.4rem;
}
.properties div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 0.0625rem solid #d7d7d7;
    margin: 0.1rem;
}
.prop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.desc {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 3rem;
    width: 86%;
    background-image: linear-gradient(to right,#F8F8F8, #f3f3f3,  #d7d7d7);
    /* background-color: #f3f3f3; */
    padding: 0.6rem;
    border-radius: 2rem;
}
.desc p {
    text-align: start;
}
.desc h6, a {
    text-align: end;
}
desc a {
    color: white;
}
/*--------------------------ADD CAR---------------------*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
input, select, button {
    font-size: 1.2rem;
    border-radius: 1rem;
    margin: 0.9rem;
    text-align: center;
    padding: 0.6rem;
    min-width: 12rem;
}
textarea{
    height: 9rem;
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 1rem;
    min-width: 12rem;
}
#form textarea {
    width: 96%;
    margin: 2rem;
}
#edt_form [type="file"] {
    color: white;
}
[type="file"] {
    color: black;
    font-size: 1.2rem;
    padding: 0.6rem;
    border-radius: 1rem;
}
.photo_add {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*--------------------------ADD USER--------------------*/
.avatarDiv {
    height: 9rem;
    width: 9rem;
    border-radius: 9rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.avatarDiv:hover {
    cursor: pointer;
}
.avatarPopup {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f3f3f3;
    min-width: 18vw;
    min-height: 15vh;
    position: absolute;
    top: 24vh;
    left: 15vw;
    border-radius: 3rem;
    animation-name: popupIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: inherit;
    animation-fill-mode: forwards;
}
.avatarPopup i {
    width: 1rem;
    height: 1rem;
}
.avatarPopup i:hover {
    cursor: pointer;
}
.mainDiv {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-between;
    width: 66vw;
    min-height: 100%;
    border-radius: 3rem;
    overflow: hidden;
}
.small {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 20%;
}
.small:hover {
    cursor: pointer;
}
#av {
    height: 9rem;
    width: 9rem;
}
#av_page {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}
.gotoreg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
}
/*--------------------------FOOTER----------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 28, 32);
    height: 12vh;
    color: rgb(203, 7, 7);
    width: 100vw;
}